<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Ship inspection">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../media/web/assets/css/style.min.css">
  <title>Inspection</title>
</head>

<body>
  <div class="page" style="background-image: url(../../media/web/assets/img/jpg/bg.jpg)">
    <header class="header" id="header">
      <div class="container">
        <div class="header__inner">
          <div class="logo"><img src="../../media/web/assets/img/svg/logo.svg" width="240" height="56" alt=""></div>
        </div>
      </div>
    </header>
    <main class="content">
      <div class="container">
        <div class="content__inner">
          <form class="form" method="POST" name="sign-in">
            <div class="form__tab active">
              <div class="form__header">
                <div class="form__title form__title--wide">
                  <p>Sign in to your account</p>
                </div>
              </div>
              <div class="form__inner">
                <div class="form__control">
                  <input class="form__input" type="text" name="login" placeholder="Login" required>
                </div>
                <div class="form__control">
                  <input class="form__input" type="password" name="password" placeholder="Password" required>
                </div>
              </div>
              <div class="form__bot form__bot--justify-end">
                <button class="form__button form__button--media-wide" type="submit">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <script src="../../media/web/assets/js/main.js"></script>
</body>

</html>
